*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body
{
    overflow: auto;
    padding-bottom: 152px;
}
.header{
    position: relative;
    background-color: #5fc0cd;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header img{
    position: absolute;
    width: 16px;
    left: 8px;
    top: 9px;
}
.people{
    font-weight: bolder;
    font-size: 18px;
    color: white;
    margin: auto;
    width: 72px;
}
.main{
    margin-top: -1px;
    position: relative;
    height: 485px;
}
.banner{
    background:url(image/07.png) no-repeat 0px 0px;
    background-size: 100% 100%;
    width: 100%;
    padding-bottom:169px;
    position: absolute;
}
.id_left{
    position:absolute;
    left: 37px;
    top: 47px;

}
.id_left img{
    width: 65px;
    
}
.id_right{
    position: absolute;
    margin-left: 10px;
    left: 116px;
    top: 57px;
    color: white;
    font-weight: bolder;
    line-height: 1.5;
    font-size: 14px;
}
.id_right p{
    font-size: 16px;
}
.id_right img
{
    width: 13px;
    margin-right: 10px;
}
.skill{
    position: relative;
    top:179px;
}
.skill_1{
    width: 100%;
    border-bottom: 1px solid #bababa;
   
}
.skill_font{
    border-left: 3px solid #5fc0cd; 
    margin-left: 14px;
    padding-left: 6px;
    margin-bottom: 10px;
}
.skill_2{
    width: 95%;
    margin: auto;
    font-size: 15px;
}
.condition{
    
    border-bottom: 1px solid #bababa;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
    
}
.img1
{
    margin-left: 10px;
}
.img2
{
    margin-left: 37px;
}
.condition span
{
    position: absolute;
    top: -1px;
}
.condition img{
    width:19px;
    margin-right: 6px;
    
}
.experience{
    width: 100%;
    border-bottom: 1px solid #bababa;
    padding-top: 10px;
    padding-bottom: 10px;
}

.year{
    color: #bababa;
    margin-left: 10px;
    border-right: 1px solid #bababa;
    padding-right: 8px;
}
.year2{
    margin-left: 8px;

}
.money
{
    color: red;
    margin-left: 8px;
}

.year3{
    color: #bababa;
    margin-left: 10px;
    flex-shrink: 0;
    border-right: 1px solid #bababa;
    padding-right: 10px;
}
.footer{
    padding-top: 13px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.button1{
    border: 2px solid #5fc0cd;
    color: #5fc0cd;
    background-color: white;
    border-radius: 8px;
    width: 45%;
    left: 2.2%;
    height: 67px;
}
.button2
{
    border: none;
    background-color: #5fc0cd;
    color: white;
    border-radius: 8px;
    width: 45%;
    height: 67px;
}
.experience1
{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #bababa;
    padding-top: 10px;
    padding-bottom: 10px;
}
.people1{
    margin-left: 7px;
}